@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Purdue World Cup Pool";
}

<div style="height: 25px"></div>
<div class="container-fluid text-center">
    <h2>Welcome to the Purdue World Cup Pool</h2>
</div>
<div style="height: 50px"></div>
<div>
    <h4 class="text-primary"><u>Standings Tab</u>: Each player's total points will be updated at the end of each day.</h4>
    <h4 class="text-primary"><u>Bets Tab</u>: Teams selected by each player.</h4>
    <h4 class="text-primary"><u>Teams Tab</u>: A table with each team's performance and total points. This is where I will update each team's game performance.</h4>
</div>